body {
	background-color: #aaaaaa;
	padding-left: 150px;
	padding-right: 150px;
}

header {
	height:80px;
	background-color: rgb(226, 40, 40);
}

h1 {
	text-transform: capitalize;
	font-weight: bold;
	font-style: italic;
}

h2 {
	text-transform: capitalize;
	font-weight: bold;
	font-style: italic;
}

h3 {
	text-transform: capitalize;
	font-weight: bold;
	font-style: italic;
}

a {
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}

.z {	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.naslov {
	border: 0;
	margin: 10px;
	text-align: center;
	padding-top: 20px;
}

nav {
	float: top;
	background-color: rgb(225, 78, 67);
	height: 38px;
}

nav ul {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	list-style-type: none;
	float: left;
	position: absolute;
	left: 30%;
	text-transform: uppercase;
}

nav li {
	display: inline-block;
}

nav a {
	background: #bd0c0c;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
}

nav a:hover {
	background: #6a0d0d;
	box-shadow: 0 0 10px 1px rgba(101, 2, 2, 0.3);
}

section {
	text-align: center;
	float: center;
}

section ul {
	padding: 2% 2% 2% 30%;
	text-align: left;
}

section p {
	padding-left: 15%;
	padding-right: 15%;
}

.out:hover {	
	outline: 5px solid rgb(162, 6, 6);
}
